OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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


